{% extends "registration/base.html" %}
{% block title %}Password reset{% endblock %}
{% block account_heading %}Password reset{% endblock %}
{% block account_content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post" action="">{% csrf_token %}
    {{ form.as_p }}
    <p class="submit">
        <label></label>
        <button class="btn" type="submit">Update</button>
    </p>
</form>
{% else %}
<h3>Password reset unsuccessful</h3>
<p>
    The password reset link was invalid, possibly because it has already been used.  
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}
