{% extends "registration/base.html" %}
{% block title %}Password change{% endblock %}
{% block extra_head %}
{{ block.super }}
<style>
    label { width: 10em; }
    .helptext { margin-left: 10em; }
</style>
{% endblock extra_head %}
{% block account_heading %}Change Password{% endblock %}
{% block account_content %}
<form action="" method="post">{% csrf_token %}
    <p>
        Please enter your old password, for security's sake, and then enter your new 
        password twice so we can verify you typed it in correctly.
    </p>
    
    {{ form.as_p }}
    <p class="submit">
        <label for=""></label>
        <button class="btn" type="submit">Change my password</button>
    </p>
</form>
{% endblock %}
